.picture {
  background-image: url(../img/Фон\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 770px;
}
.title {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
}
.title-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin: 20px 0px 20px 80px;
}
.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 55px;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.picture-logo {
  margin-right: 25px;
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 20px 80px 20px 0px;
}
.form {
  width: 444px;
  height: 600px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

.form-text {
  display: flex;
  justify-content: space-between;
}
.square {
  width: 18px;
  height: 18px;
  background: #3cb878;
  margin-top: 30px;
}
.form-up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin-top: 30px;
  margin-right: 215px;
  margin-left: 45px;
}
.form-log {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  margin-top: 30px;
  margin-right: 60px;
  text-decoration: underline;
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: space-around;
}
.button-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  background: #305db8;
  color: #ffffff;
  margin-top: 15px;
  margin-left: 60px;
  width: 160px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color, 500ms;
}

.button-picture {
  padding: 10px 20px 10px 10px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.button-logo:hover {
  background: #022263;
}
.button-logo-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  font-size: 16px;
  line-height: 16px;
  width: 160px;
  margin-top: 15px;
  margin-right: 60px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #df4a32;
  color: #ffffff;
  cursor: pointer;
  transition: background-color, 500ms;
}
.button-img {
  padding: 15px 10px;
}
.button-logo-img:hover {
  background: #ab1f09;
}

.border {
  /* text-align: center; */
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  padding-top: 30px;
  overflow: hidden;
}
.border::before {
  content: "";

  display: inline-block;
  width: 155px;
  height: 2px;
  background-color: #f2f2f2;
  position: relative;
}
.text-or::after {
  content: "";
  top: -16px;
  left: -4px;
  display: inline-block;
  width: 155px;
  height: 2px;
  background-color: #f2f2f2;
  position: relative;
}
.text-or {
  margin-left: 60px;
  margin-right: 60px;
}
.border::before {
  left: 170px;
}

.form-label {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-right: 60px;
  margin-left: 60px;
}
.input-form {
  padding: 15px 0px 15px 15px;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow, 500ms;
}
.input-form:hover,
.input-form:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.text-color {
  color: #01813f;
  cursor: pointer;
  text-decoration: underline;
}
.button-end {
  margin-top: 20px;
}
.button-text {
  font-size: 16px;
  line-height: 16px;
  margin-left: 60px;
  margin-right: 60px;
  color: #ffffff;
  background: #01813f;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 325px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
